@import "../_global.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    font-size: 32px;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;

    background-color: $dark-gray;
    color: white;

    // background: rgba($blue, 1);
    // background: -moz-linear-gradient(145deg, $pink 0%, $purple 40%, $blue 100%);
    // background: -webkit-linear-gradient(145deg, $pink 0%, $purple 40%, $blue 100%);
    // background: linear-gradient(145deg, $pink 0%, $purple 40%, $blue 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4c9c",endColorstr="#1463ff",GradientType=1);
}

#root {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.app {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100%;
}

header {
    text-align: center;
    letter-spacing: 4px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 0.1rem;

    a img {
        height: 1rem;
        width: 1rem;
        padding: 0.1rem;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 2rem;

        &:hover {
            border: 2px solid white;
        }
    }
}